:root {
    --blue: rgba(25,146,212,255);
    --grey: #e2e8f0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
}

.side-bar {
    background-color: var(--blue);
    grid-row: 1 / 3;
    font-weight: 900;
    font-family: "Nunito Sans";
    color: white;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: max-content;
    padding: 10px;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.header-logo {
    content: url("assets/logo.svg");
    width: clamp(1.5rem, 0.25rem + 4vw, 2.5rem);
}

.header-text {
    font-size: max(.7rem, 100%);
}

.side-bar ul img {
    width: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
}

.side-bar ul {
    font-size: clamp(0.5rem, 70%, 1.5rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 5px;
    margin-bottom: 10rem;
}

.side-bar img {
    width: 16px;
    height: auto;
}

.block {
    grid-row: 7 / 9;
    height: 30px;
}

li {
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: min-content;
    grid-auto-flow: column;
}

a {
    text-decoration: none;
    color: white;
}

.side-bar a {
    padding-left: 5px;
}

.nav {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px 4vw 0 3vw;
    box-shadow: 2px 12px 33px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 12px 33px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 33px -10px rgba(0,0,0,0.75);
}

.top {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    align-items: center;
    gap: 10px;
    flex: 1;
    min-width: 50px;
}

.search-img {
    content: url("assets/search.svg");
    width: 2.5vw;
}

.search-bar input {
    width: 97%;
    height: 90%;
    background-color: var(--grey);
    align-self: center;
    justify-self: end;
    border-radius: 15px;
    border: 0;
    position: relative;
    padding-left: 5px;
    justify-self: start;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
    gap: 20px;
    margin-right: 15px;
    font-weight: 700;
    text-wrap: nowrap;
}

.bell-img {
    content: url("assets/bell.svg");
    width: 1rem;
    margin-left: 10px;
}

.profile-img {
    width: 24px;
    height: auto;
    background-color: var(--grey);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.bottom-left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: min-content 4fr;
    column-gap: 8px;
    font-size: 3vw;
    font-weight: 600;
    text-wrap: nowrap;
    margin-bottom: 10px;
}

.bottom-left .profile-img {
    width: 4vw;
    height: auto;
    grid-row: 1 / -1;
    align-self: center;
}

.greeting {
    font-size: 75%;
    align-self: end;
}

.bottom-right {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.tools {
    background-color: var(--blue);
    border-radius: 16px;
    border: 0;
    color: white;
    font-family: "Nunito Sans";
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 5px;
}

.projects {
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    padding-top: 30px;
    font-weight: 500;
    font-size: 2.1vw;
    column-gap: 15px;
}

.projects .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-auto-flow: row;
    grid-auto-rows: 150px;
    gap: 15px;
}

.projects .left span {
    grid-column: 1 / -1;
}

.card {
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 12px;
    padding: 15px;
    position: relative;
    font-family: "Nunito Sans";
}

.projects .right,
.announcement,
.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 15px;
}

.projects .right {
    grid-template-rows: repeat(2, 1fr);
}

.announcement .card,
.trending .card {
    border-left: 0;
    display: grid;
    padding: 15px;
    gap: 5px;
}

.announcement .card {
    grid-template-rows: repeat(3, 1fr);
}

.info {
    border-bottom: 1.5px solid var(--grey);
}

.announcement .card :nth-last-child(1) {
    border: 0;
}

.trending .card {
    align-items: center;
    grid-template-rows: repeat(4 , 1fr);
    grid-template-columns: min-content 1fr;
    column-gap: 10px;
}

.trending .user {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-size: 1rem;
}

.trending .profile-img {
    width: 2.5rem;
}

.user .name {
    font-size: 80%;
    font-weight: 200;
}